.servicesSection {
    background-color: rgb(240, 240, 240, 0.5);
    composes: section from "../../specificStyles.css";
}

.servicesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    composes: container from "../../specificStyles.css";
}

.flexContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0 -15px;
}

.serviceCard {
    border: 2px solid rgba(241, 66, 66, 0.8);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
        rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
    border-radius: 20px;
    width: 50%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px;
    padding: 25px 30px;
    transition: 0.3s;
}

.serviceCard:hover {
    transform: scale(1.05);
    border: 2px solid rgb(170, 48, 48);
    background-color: rgba(255, 255, 255, 0.9);
}

.serviceCard:hover .servicesDescription {
    color: rgba(0, 0, 0, 0.8);
}

.serviceTitle {
    font-size: 24px;
    color: #000;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}

.servicesDescription {
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .serviceTitle {
        font-size: 20px;
    }
}

@media screen and (max-width: 676px) {
    .flexContainer {
        flex-direction: column;
        align-items: center;
    }
    .serviceCard {
        width: 90%;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
}
