.format-section {
    margin-top: 3rem;
}

.format-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.video-bg {
    width: 450px;
    margin-right: 15px;
    border-radius: 20px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.format-information-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
}
.format-information-text {
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    margin-bottom: 15px;
}
.advantages-list {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.advantage-item {
    color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    padding: 5px 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(241, 66, 66, 0.8);
    margin-bottom: 10px;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .video-bg {
        width: 380px;
    }
    .format-information-text {
        font-size: 16px;
    }
    .advantage-item {
        font-size: 14px;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .format-section {
        margin-top: 2rem;
    }
    .format-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .video-bg {
        width: 450px;
        margin: 0;
        margin-bottom: 10px;
    }
    .format-information-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 576px) {
    .video-bg {
        width: 330px;
        margin-bottom: 10px;
    }
    .format-information-container {
        width: 330px;
    }
    .format-information-text {
        font-size: 16px;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .video-bg {
        width: 280px;
        margin-bottom: 10px;
    }
    .format-information-container {
        width: 280px;
    }
    .format-information-text {
        font-size: 16px;
    }
}
