.tools-section {
    background-color: rgba(240, 240, 240, 0.5);
}

.tools-container {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
}

.tool-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
}
.tool-img-container {
    width: 200px;
    height: calc(200px * (4 / 10));
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 20px; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.tool-img-container:hover {
    cursor: pointer;
}
.tool-img {
    width: 150px;
    margin: auto;
}

.tool-description {
    min-height: 90px;
}
.tool-description-title {
    margin-bottom: 5px;
}
.active {
    transition: 0.3s;
    transform: scale(1.15);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px,
        rgba(0, 0, 0, 0.2) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.1) 0px -3px 0px inset;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .tool-img-container {
        width: 150px;
        height: calc(150px * (4 / 10));
    }
    .tool-img {
        width: 120px;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .tool-img-container {
        width: 120px;
        height: calc(120px * (4 / 10));
    }
    .tool-img {
        width: 100px;
    }
    .tools-container {
        padding: 0;
    }
}

@media screen and (max-width: 576px) {
    .tools-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .tool-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        margin-right: 25px;
    }
    .tool-img-container {
        margin-bottom: 15px;
    }

    .tool-img-container:last-child {
        margin-bottom: 0;
    }
}

/* For small devices */
@media screen and (max-width: 450px) {
    .tools-container {
        flex-direction: column;
        align-items: center;
    }

    .tool-cards {
        width: calc(100% - 20px);
        margin: 0;
        margin-bottom: 25px;
    }

    .tool-img-container {
        width: 100%;
    }
}
