/* Шрифт */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Иконки */
@import "~@flaticon/flaticon-uicons/css/all/all";

/* Общие стили */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3 {
    color: rgba(0, 0, 0, 0);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 5rem 0;
}

.section__title {
    font-size: 3.5rem;
    color: rgba(0, 0, 0, 0);
    text-align: center;
}

.section__subtitle {
    display: block;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
}

.container {
    max-width: 968px;
    margin: 0 auto;
}
