.aboutMe-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.fi-sr-chalkboard-user {
    font-size: 40px;
    margin-right: 20px;
    color: rgba(241, 66, 66, 0.8);
}

.aboutMe-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutMe-information {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px;
}

.aboutMe-name {
    border-bottom: 2px solid black;
}

.aboutMe-title {
    margin-bottom: 20px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    font-size: 18px;
}

.aboutMe-img {
    width: 250px;
    height: auto;
    border-radius: 30px;
    border: 5px solid rgba(241, 66, 66, 0.8);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .fi-sr-chalkboard-user {
        font-size: 30px;
    }
    .aboutMe-name {
        font-size: 24px;
    }
    .aboutMe-title {
        font-size: 16px;
    }
}

@media screen and (max-width: 676px) {
    .aboutMe-img {
        width: 200px;
    }
    .aboutMe-container {
        flex-direction: column;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .fi-sr-chalkboard-user {
        font-size: 20px;
    }
    .aboutMe-name {
        font-size: 20px;
    }
    .aboutMe-title {
        font-size: 14px;
    }
    p {
        font-size: 12px;
    }
}
