name: Lint React App
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get repository code
        uses: actions/checkout@v3
      - name: Install Dependecies
        run: npm ci
      - name: Lint application
        run: npm run lint
      - name: StyleLint application
        run: npm run stylelint
